body {
    font-family: "Roboto", arial, sans-serif;
    margin: 0px;
}

.upperheader, .lowerheader {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 20px 200px;
}

.lowerheader {
    padding-bottom: 70px;
    
}

.upperheader div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lowerheader div {
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: space-between;
    gap: 10px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border-radius: 10px;
    border-color: #1f2937;

}

.lowerhead.headerleft {

}